html, body {
  height: 100%;
}


li {
  margin-bottom: 10px;
}


#checkboxes {
  margin-left: 5px;
}


#irc-quote{
  height: 336px;
  margin-bottom: 15px;
  resize: none;
}


#ircquote-container {
  padding: 20px 5px 0 20px;
}


#preview-container {
  color: #000000;
  background-color: #fafaf8;
  border: 1px solid #cccccc;
  height: 400px;
  overflow: auto;
  padding: 15px;
  width: 100%;
  word-wrap: break-word;
}


#result {
  height: 400px;
  resize: none;
}


.btn {
  border: none;
}


.no-radius {
  border-radius: 0;
}
