html, body {
  height: 100%;
}


#ircquote-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px 5px 0 20px;
  border-radius: 6px;
}


#title {
  margin-top: 0;
}


#irc-quote{
  height: 191px;
  resize: none;
  margin-bottom: 15px;
}


#result {
  height: 192px;
  resize: none;
  color: #000000;
}


#preview-container {
  width: 100%;
  height: 400px;
  padding: 15px;
  color: #000000;
  background: #fafaf8;
  border: 1px solid #cccccc;
  overflow: auto;
  word-wrap: break-word;
}


.less-margin {
  margin-bottom: 15px;
}
