body {
  background-color: #7F8C8D;
  line-height: 130%;
}


kbd {
  background-color: #2C3E50;
}


dd {
  padding-left: 40px;
}


.no-radius {
  border-radius: 0 !important;
}


.well-height {
  height: 273px;
}


.colour-inverse {
  color: #FFFFFF;
  background-color: #34495E;
  border: none;
}


.modal-header {
  color: #FFFFFF;
  background-color: #1ABC9C;
  border: none;
}


.modal-body {
  color: #FFFFFF;
  background-color: #34495E;
  border: none;
  font-size: 15px;
}


.modal-footer {
  color: #FFFFFF;
  background-color: #2C3E50;
  border: none;
}


.fixed-scroll {
  height: 450px;
  overflow: auto;
}


.checkbox {
  margin-top: 0 !important;
}


.dropdown-menu {
  border-radius: 0 !important;
}


.navbar-inverse .navbar-nav>.open>.dropdown-menu>li>a {
  border-radius: 0px;
}


h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}
