body {
  background-color: #ecf0f1;
}


h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}


h1 small {
  color: #3e3f3a;
}


#error-404 {
  background-color: #d9534f;
}


#goto-homepage, #goto-irc {
  margin-top: 19px;
}


#goto-ircquote {
  margin-top: 39px;
}


#goto-organizepost {
  margin-top: 30px;
}


#headline {
  text-align: center;
}


#logo {
  display: block;
  height: 256px;
  margin-left: auto;
  margin-right: auto;
  width: 256px;
}


#welcome-screen {
  background-color: #79a736;
  background-image: url(background.png);
}


.col-fixed {
  margin-bottom: 15px;
  width: 488px;
}


.full-height {
  height: 100%;
}


.larger {
  font-size: 500% !important;
}


.navbar-inverse .navbar-nav>.open>.dropdown-menu>li>a {
  border-radius: 0px;
}


.navbar .nav>li>a, .dropdown-menu>li>a {
  text-transform: none;
}


.navbar-nav>li>.dropdown-menu {
  border-radius: 0;
}


.more-margin {
  margin-bottom: 30px;
}


.no-margin {
  margin-bottom: 0;
}


.no-radius {
  border-radius: 0;
}


.pointer {
  cursor: pointer;
}


.save {
  background-color: #ffffff;
  border: 1px solid #82827f;
  padding: 5px;
}



.save-wrapper {
  padding: 5px;
}


.user {
  padding: 0 0 0 15px;
}


.votes {
  padding: 0 15px 0 0;
  text-align: right;
}
