body, html {
  height: 100%;
}


#homepage-body {
  background-color: #111111;
}


#toolbar {
  margin: 0;
}


#iframe-menu-wrapper {
  width: 100%;
  height: calc(100% - 60px);
  padding: 50px 0;
}


#iframe-menu-wrapper iframe {
  width: 100%;
  height: 100%;
  border: 2px solid #34495E;
  background-color: #222222;
}


#page-settings {
  position: absolute;
  bottom: 0;
}


#page-table-wrapper {
  height: calc(100% - 45px);
  overflow: auto;
}


#search-input {
  width: 150px;
  margin-right: 3px;
}


#url-tab-wrapper {
  width: 934px;
  margin: auto;
  padding: 25px 0;
}


#url-tab-wrapper div {
  height: 125px;
  margin-bottom: 10px;
}


#url-tab-wrapper div div {
  width: 125px;
  height: 125px;
  float: left;
  margin-left: 10px;
}


#url-tab-wrapper div div a img {
  width: 125px;
  height: 125px;
  box-shadow: 0 5px 5px #000000;
}


#url-tab-wrapper div div a img:hover {
  box-shadow: 0 0 5px 2px #ffffff;
}


#mainpage-body {
  background-color: #052733;
}


.full-height {
  height: 100%;
}


.tab-blue {
  background-color: #20577f;
}


.tab-brown {
  background-color: #7f6620;
}


.tab-cyan {
  background-color: #207f7a;
}


.tab-green {
  background-color: #207f30;
}


.tab-purple {
  background-color: #73207f;
}


.tab-red {
  background-color: #802020;
}
