@keyframes fade-in {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}


@keyframes fade-out {
  from {
    opacity: 1;
  } to {
    opacity: 0;
  }
}


body {
  overflow-x: hidden;
}


body#index-body {
  height: 100%;
  overflow: hidden;
  width: 100%;
}


body#settings-body {
  background-color: #ffffff;
}


html {
  height: 100%;
}


html#main-html {
  background-color: #1d1d1d;
}


html#main-html body {
  background-color: rgba(255, 255, 255, 0);
}


#bottom-settings {
  margin-bottom: 15px;
}


#dimmer {
  background-color: #000000;
  height: calc(100% - 61px);
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 61px;
  width: 100%;
}


#iframe-screen {
  background-image: url(spin.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  height: calc(100% - 61px);
  width: 100%;
}


#header-container {
  margin-left: 65px;
}


#header-container.header-no-button {
  margin-left: 5px;
}


#help-custom-pages, #help-quick-access {
  display: none;
}


#nav-bar {
  padding-bottom: 10px;
  padding-top: 0;
}


#nav-bar .win-backbutton {
  margin-left: 5px;
  top: 0;
}


#search-form {
  left: -15px;
  position: relative;
}


#search-input {
  background-color: rgba(130, 130, 127, 0.3);
  color: #ffffff;
}


.bg-color-blue {
  background: #2672ec !important;
}


.bg-color-green {
  background: #008a00 !important;
}


.bg-color-orange {
  background: #d24726 !important;
}


.bg-color-purple {
  background: #5133ab !important;
}


.bg-color-red {
  background: #ac193d !important;
}


.container.tile-container {
  animation: fade-in 250ms ease-out;
  width: 1296px;
}


.container.tile-container.tile-hidden {
  animation: fade-out 250ms ease-out;
}


.dark-background {
  background-color: #222222;
}


.display-none {
  display: none !important;
}


.header-dropdown {
  color: #ffffff;
}


.ip-input {
  background-color: #ffffff;
  border: 1px solid #dfd7ca;
  color: #3e3f3a;
  height: 42px;
  padding: 12px 16px;
  width: 100%;
}


.metro .tile {
  border: none;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
  transition: outline-width 100ms;
}


.metro .tile:active {
  color: #ffffff;
  outline-offset: 0;
}


.metro .tile .text {
  height: 100%;
  overflow: visible;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}


.modal-content {
  border-radius: 0;
}


.navbar-btn {
  margin-bottom: 0;
  margin-top: 0;
}


.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
  background-color: rgba(57, 58, 53, 0.4);
}


.navbar .nav>li>a, .dropdown-menu>li>a {
  text-transform: none;
}


.navbar-nav>li>.dropdown-menu {
  border-radius: 0;
}


.navbar-transparent {
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
}


.no-margin {
  margin-bottom: 0;
}


.no-radius {
  border-radius: 0 !important;
}


.pointer {
  cursor: pointer;
}


.space {
  margin-right: 2px;
}


.space-more {
  margin-right: 5px;
}


.t-blue {
  color: #29abe0;
}


.t-red {
  color: #d9534f;
}


.textarea-input {
  font-family: Consolas, Menlo, Monaco, "Liberation Mono", "Courier New", monospace;
  resize: none;
  white-space: nowrap;
}


.tile:hover {
  outline: 4px solid rgba(74, 74, 74, 0.5) !important;
}


.win-backbutton {
  border-color: #ffffff;
}


.win-backbutton:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #1d1d1d !important;
}


.win-backbutton:hover {
  background-color: rgba(255, 255, 255, 0.05);
  border-color: #ffffff;
}


.win-commandicon {
  color: #ffffff;
}


.win-commandicon:hover {
  color: #ffffff;
}
