body, html {
  height: 100%;
}


.full-height {
  height: 100%;
}


.navbar-modified {
  margin: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}


#iframe-menu-wrapper {
  width: 100%;
  height: calc(100% - 60px);
  padding: 50px 0;
}


#iframe-menu-wrapper iframe {
  width: 100%;
  height: 100%;
  border: 1px solid #000000;
  background: #222222;
}


#page-settings {
  position: absolute;
  bottom: 0;
}


#page-table-wrapper {
  height: calc(100% - 45px);
  overflow: auto;
}


#url-tab-wrapper {
  width: 934px;
  margin: auto;
  padding: 25px 0;
}


#url-tab-wrapper div {
  height: 125px;
  margin-bottom: 10px;
}


#url-tab-wrapper div div {
  width: 125px;
  height: 125px;
  float: left;
  margin-left: 10px;
}


#url-tab-wrapper div div a img {
  width: 125px;
  height: 125px;
  box-shadow: 0 5px 5px #000000;
}


#url-tab-wrapper div div a img:hover {
  box-shadow: 0 0 5px 2px #FFFFFF;
}


.body-background {
  background: #092630;
}


.no-underline {
  text-decoration: none !important;
}


.tab-red {
  background: #7F3737;
}


.tab-purple {
  background: #76377F;
}


.tab-orange {
  background: #7F6C37;
}


.tab-green {
  background: #377F43;
}


.tab-cyan {
  background: #377F7B;
}


.tab-blue {
  background: #37617F;
}
