html, body {
  height: 100%;
}


#client-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


#irc-client {
  width: 100%;
  height: 500px;
  border: 2px solid #34495E;
  background-color: #ECF0F1;
}


#options {
  position: relative !important;
  top: -5px !important;
}


#interface-img {
  display: block;
  width: 550px;
  margin: auto;
}
