html, body {
  height: 100%;
}


kbd {
  background-color: #2c3e50;
}


#client-menu {
  height: 100%;
}


#interface-img {
  display: block;
  margin: auto;
  width: 550px;
}


#irc-client {
  background-color: #ecf0f1;
  border: none;
  height: calc(100% - 82px);
  width: 100%;
}


#options {
  position: relative;
  top: -9px;
}


.modal-body {
  background-color: #34495e;
  border: none;
  color: #ffffff;
  font-size: 15px;
}


.modal-footer {
  background-color: #2c3e50;
  border: none;
  color: #ffffff;
}


.modal-header {
  background-color: #1abc9c;
  border: none;
  color: #ffffff;
}


.no-radius {
  border-radius: 0;
}
