html, body {
  height: 100%;
}


body {
  font-family: Arial;
  overflow-x: hidden;
}


hr {
  border-color: #772953;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.4), 0 2px 0 rgba(0, 0, 0, 0.15);
  margin: 15px 0 25px 0;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type="number"] {
  -moz-appearance: textfield;
}


select.form-control {
  padding: 0 4px;
}


#current-notes {
  background-color: #e8e8e8;
  height: 50px;
  overflow: hidden;
  padding: 10px;
  white-space: nowrap;
}


#playground {
  cursor: crosshair;
  height: calc(100% - 119px);
}


#settings-button {
  float: right;
  cursor: pointer;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4), 4px 4px 0 rgba(0, 0, 0, 0.15);
}


#settings-button:hover {
  color: #dddddd;
}


#title {
  display: inline-block;
  font-family: "Berkshire Swash", Helvetica, sans-serif;
  font-style: italic;
  position: relative;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4), 4px 4px 0 rgba(0, 0, 0, 0.15);
  top: -4px;
  user-select: none;
}


#top-bar {
  background-color: #772953;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.4), 0 4px 0 rgba(0, 0, 0, 0.15);
  color: #ffffff;
  padding: 15px 20px;
}


#top-bar h1 {
  margin: 0;
}


#welcome {
  background-color: #772953;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
}


#welcome-subtitle {
  display: block;
  font-family: "Berkshire Swash", Helvetica, sans-serif;
  font-size: 4vmin;
  font-style: italic;
  margin-top: -10px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4), 4px 4px 0 rgba(0, 0, 0, 0.15);
}


#welcome-text {
  color: #ffffff;
  left: 50%;
  margin-right: -50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}


#welcome-title {
  display: block;
  font-family: "Berkshire Swash", Helvetica, sans-serif;
  font-size: 18vmin;
  font-style: italic;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4), 4px 4px 0 rgba(0, 0, 0, 0.15);
}


.btn {
  border-radius: 0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.4), 0 4px 0 rgba(0, 0, 0, 0.15) !important;
}


.close {
  font-size: 37px;
}


.form-control {
  border: none;
  border-radius: 0;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
  display: inline-block;
  height: 25px;
  margin-bottom: 5px;
  padding: 0 8px;
  position: relative;
  top: -1px;
}


.form-control:focus {
  box-shadow: 0 2px 0 #772953;
  outline: none;
}


.form-control:focus + .unit {
  color: #772953;
}


.grid {
  background-color: #aea79f;
  height: 100%;
  position: absolute;
  top: 0;
  width: 1px;
  z-index: -1;
}


.grid-bold {
  background-color: #772953;
  width: 2px;
}


.grid-bldr {
  width: 4px;
}


.hidden-line {
  border-color: transparent;
  box-shadow: none;
}


.icheckbox_square-purple {
  margin-bottom: 8px;
}


.icheckbox_square-purple.checked,
.icheckbox_square-purple.hover {
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
}


.labels {
  font-weight: bold;
  text-align: right;
}


.modal-content {
  border-radius: 0;
}


.modal-header {
  background-color: #772953;
  border: none;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.4), 0 4px 0 rgba(0, 0, 0, 0.15);
  color: #ffffff;
  font-family: "Berkshire Swash", Helvetica, sans-serif;
  font-size: 25px;
  font-style: italic;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4), 4px 4px 0 rgba(0, 0, 0, 0.15);
}


.note {
  display: inline-block;
  background-color: #772953;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.4), 0 4px 0 rgba(0, 0, 0, 0.15);
  color: #ffffff;
  font-family: "Audiowide", Helvetica, sans-serif;
  margin-right: 10px;
  min-width: 140px;
  padding: 5px;
  text-align: center;
  user-select: none;
}


.setting-title {
  color: #772953;
  margin: 20px 0 0 0;
}


.setting-title:first-child {
  margin: 0;
}


.tooltip-arrow {
  left: 85% !important;
}


.unit {
  margin-left: -25px;
  position: relative;
  top: -1px;
}


.unit-small {
  margin-left: -18px;
}
